{% extends 'pwadmin/base.html' %}

{% block passwords %}
    <li>
        <a href="/passwords" class="inline-block border-b-2 border-b-white pb-0.5">Passwords</a>
    </li>
{% endblock %}

{% block body %}
    <main class="w-full h-full flex justify-center">
        <div id="container" class="flex flex-col gap-4 items-center mt-40">
            <h1>Passwords</h1>
            <div class="flex gap-3">
                <input type="text" class="text-gray-400" value="opa" readonly>
                <input id="pw1" type="password" name="" value="opa" readonly>
                <button title="show">
                    <i class="fa-solid fa-eye"></i>
                </button>
                <button title="copy" onclick="copyPassword('pw1')">
                    <i class="fa-solid fa-copy"></i>
                </button>
            </div>
        </div>
    </main>
{% endblock %}